.button {
  height: 48px;
  background: #5677ad;
  border: 0;
  cursor: pointer;
  color: white;
  max-width: 200px;
  width: 100%;
  padding: 0 30px;
  border-radius: 30px;
  transition: all 1s ease-out;
  &:disabled,
  &:disabled:hover {
    background-color: gray;
    cursor: default;
  }
  &:hover {
    opacity: 0.7;
  }
}
.buttonGreen {
  background-color: #20bd5f;
}
.buttonGray {
  background-color: gray;
}
